astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.6.16
Click==7.0
colorama==0.4.1
coverage==4.5.3
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
gunicorn==19.9.0
importlib-metadata==0.17
iso3166==1.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
mypy==0.701
mypy-extensions==0.4.1
packaging==19.0
PasteDeploy==2.0.1
pluggy==0.12.0
psutil==5.4.8
psycopg2==2.7.6.1
py==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.3.1
pyparsing==2.4.0
pytest==5.0.1
python-dotenv==0.10.3
-e git+https://github.com/alexdawn/rollinghub.git@a8fe259f8e6d8f37469d4e318cb1523004a90582#egg=rollinghub
six==1.12.0
typed-ast==1.4.0
waitress==1.4.0
wcwidth==0.1.7
Werkzeug==0.15.4
wincertstore==0.2
wrapt==1.11.2
zipp==0.5.2
